// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Side Menu */

ion-menu {
  background: #F44B28 !important;
  background-size: contain;
  background-position-x: 15rem;
}

ion-menu .menu-inner {
  background: #F44B28 !important;
  overflow-y: scroll;
}

ion-menu .outer-content {
  background: #F44B28 !important;
 //background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F44B28), to(#F44B28)) !important;
}

ion-menu .outer-content ion-list-header {
  color: #F44B28;
}

ion-menu .outer-content ion-label {
  font-size: 1.8rem;
}

ion-menu .outer-content ion-icon {
  font-size: 2rem;
  color: #fff;
  padding-right: 1rem;
}

ion-menu .outer-content .item {
  background: transparent;
  color: #fff;
}


/* hide scrollbar */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.hide_tab .tabbar {
  display: none;
}

.commonbg {
  background: #e4e9ee !important;
}

.ion-ios-MYICON:before,
.ion-ios-MYICON-circle:before,
.ion-ios-MYICON-circle-outline:before,
.ion-ios-MYICON-outline:before,
.ion-md-MYICON:before,
.ion-md-MYICON-circle:before,
.ion-md-MYICON-circle-outline:before,
.ion-md-MYICON-outline:before {
  @extend .ion !optional;
}

.ion-ios-MYICON:before,
.ion-ios-MYICON-outline:before,
.ion-md-MYICON:before,
.ion-md-MYICON-outline:before {
  content: url('../assets/img/store.png');
}